body{
    margin: 0px;

}
.nav_bar{
      text-align: right;
      
     
}
.navigation{
    /* background-image:linear-gradient(#351640,#341945); */
    background-image: url('gradient\ rectangle\ nav.png');
    
    padding-top: .7%;
    padding-bottom: .7%;
    padding-right: 1%;
    position: fixed;
    top: 0px;
    width: 100%;
    
}
.login{
    padding-left:2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1%;
    transition: transform 0.3s;
}
.login:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to right, #f64d93 , #fe778b);
    color: rgb(255, 255, 255);
    cursor: pointer;


}
.sign_up{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 2%;
    margin-left: 1%;
    transition: transform 0.3s;
    
}
.sign_up:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to right, #f64d93 , #fe778b);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.business_login{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1%;
    transition: transform 0.3s;
    

}
.business_login:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to right, #f64d93 , #fe778b);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.front_page_button{
    background-image: linear-gradient(#FF91A5,#FF95A5);
    border: none;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    
    

}
.First_section{
    display: block;
    width: 100%;
    height: 750px;
    object-fit: cover;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
    background-image: url('newimg.png');
    /* margin-top: .1%; */
}
.text_on_pic{
    display: flex;

  /*this centers the text horizontally*/
  justify-content: center;

  /*this centers the text vertically*/
  align-items: center;
  padding-top: 18rem;
  font-size: 4rem;
  font-style: italic;
  color: #ffffff6a;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
.plan_your_wedding_button{
    text-align: center;
    margin-top: 3rem;
   
}
.button_plan_wedding{
    width: 15rem;
    height: 2.5rem;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #FD61A2 , #FF95A5);
    color: rgba(255, 255, 255,90%);
    font-weight: bold;
    transition: transform 0.3s;

    

}
.button_plan_wedding:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to right, #f64d93 , #fe778b);
    color: rgb(255, 255, 255);
    cursor: pointer;

}
.our_services{
    display: block;
    width: 100%;
    height: 750px;
    object-fit: cover;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background-image: url("second\ section\(our\ services\).png");
  
    
    
}
.our_services_text{
    text-align: center;
    padding-top: 5.5rem;
    font-size: 3rem;
    color: rgba(0, 0, 0,80%);
    font-family: 'Permanent Marker', cursive; 

}
